
* {
    margin: 0;
    padding: 0;
}

nav {
    height: 70px;
    /* *Fix width */
    border: 1px solid;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    border: 1px solid red;
    width: 100%;
    max-width: 300px;

    display: flex;
    justify-content: space-around;
    align-items: ;
}

.nav-link a {
    text-decoration: none;
}

